<div class="container card m-auto text-center p-5">
  <header>
    <h1>Header</h1>

    <main class="card card-body mb-4">
      <h2>Currunt Count IS : {{ count }}</h2>
    </main>
    <div class="row mx-0">
        <button class="btn btn-default mx-4 btn-sm mb-1" (click) ="heandleReset()">Reset Count</button>
        <button class="btn btn-success mx-4 btn-sm mb-1" (click) ="heandleIncrese()">Increase Count</button>
        <button class="btn btn-danger mx-4 btn-sm mb-1" (click) ="heandleDecrese()">Decrease Count</button>
    </div>
  </header>
</div>